<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951258400947-np032qg3c127798gmv5dipum0ajkfkjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951258400947-np032qg3c127798gmv5dipum0ajkfkjo</string>
	<key>API_KEY</key>
	<string>AIzaSyB5vNEvTGlwELWHPeCm_SEjuHkVtwk_zzc</string>
	<key>GCM_SENDER_ID</key>
	<string>951258400947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryli</string>
	<key>PROJECT_ID</key>
	<string>deliveryli</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951258400947:ios:e9b556e5bbdd2f19b4c8c6</string>
</dict>
</plist>